Package: ninja-build
Version: 1.8.2-2
Architecture: amd64
Maintainer: Felix Geyer <fgeyer@debian.org>
Installed-Size: 404
Depends: libc6 (>= 2.15), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: https://ninja-build.org/
Description: small build system closest in spirit to Make
 Ninja is yet another build system. It takes as input the interdependencies of
 files (typically source code and output executables) and orchestrates
 building them, quickly.
 .
 Ninja joins a sea of other build systems. Its distinguishing goal is to be
 fast. It is born from the Chromium browser project, which has over 30,000
 source files and whose other build systems can take ten seconds to start
 building after changing one file. Ninja is under a second.
